*{
    margin: 0;
    padding: 0;
}
.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}
.Cabecera2{
    background-color: darkgray;
    padding:5px;
}
.fondo{
    background-color: darkgray;
    margin: 0;
}
.título{
    color: black;
    text-align: center;
    margin:0px;
}
.row{
    padding: 3rem;
}
.card{
    margin-bottom: 40px;
    align-items: center;
    border-color: darkslategray;
    border-width: 2px;
}
.card-body{
   align-content: end; 
}
.card-text{
    text-align: center;
    font-weight: bold;
    font-weight: 100px;
}