*{
margin: 0;
padding: 0;
}
.Cabecera{
    background-color:lightslategray;
    padding:5px
}
.Datos{
    background-color:gainsboro;
    padding: 10px;
    margin: 30px;
}
.footer{
    background-color:lightslategray;
    padding:5px;
    color: black;
    text-align: center;
    font-weight: bold;
}
.Foto{
    max-width: 100%;
    margin-left: 35px;
    }
.second-page{
    display: flex;
    margin-top: 45px;
    justify-content: space-around;
}
.left-column, .right-column{
    margin-bottom: 45px;
}
.Botón{
    text-align: center;
    margin-bottom: 60px;
}
.btn-portafolio{
    background-color: black;
    border-color: black;
    border-radius: 6px;
    color: white;
    width:15rem;
    cursor: pointer;
    text-align: center;
    font-size:25px;
}